* {
   
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./image/unsplash\ avif.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.countdown-container{
    display: flex;
}

h1 {
    font-weight: normal;
    font-size: 40px;
    margin-top: 1em;
    color: rgb(5, 35, 55);
}

.large-text {
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
    margin: 0 2rem;
    margin-top: 5rem;
    color: rgb(198, 225, 248);
}

.dhms {
    text-align: center;
}

.dhms span {
    font-size: 1.3rem;
    color: rgb(198, 225, 248);
}